


%div.container
	%div.nav-bar.nav-bar-inverse

		%h1= @sale_item.name
		- if @sale_item.sold == true
			This item has been sold!
		
	%hr
	%h4= @sale_item.description
	%h3= "Price #{@sale_item.price}"
	%br

	
	%a(href="/sale_items/#{@sale_item.id}/edit")
		%button.btn.btn-block.btn-success= "Edit"
	%br
	%button.btn.btn-block.btn-danger
		= link_to "Delete" , sale_item_path, method: "delete"
